/*.navbar {*/
/*  width: 100%;*/
/*  height: 8vh;*/
/*  background-color: #ec9a39;*/
/*  font-family: "Arial";*/
/*  font-size: 2vmax ;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  margin-top: 0;*/
/*}*/

/*.navbar-item1 {*/
/*  !* width: 40vw; *!*/
/*  font-size: 80%;*/
/*  !* margin-top: 3%; *!*/
/*  color: rgb(74, 121, 192);*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  flex-grow: auto;*/
/*  !* border: solid black 1px; *!*/
/*}*/

/*.navbar-item2 {*/

/*  !* width: 100vw; *!*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  padding-top: 2vh;*/
/*  color: rgb(74, 121, 192);*/
/*  flex-grow: 2;*/
/*  !* border: solid black 1px; *!*/
/*  text-align: center;*/
/*}*/

/*.navbar-item3 {*/
/*  !* width: 40vw; *!*/
/*  padding-top: 2vh;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  color: rgb(74, 121, 192);*/
/*  flex-grow: 1;*/
/*  !* border: solid black 1px; *!*/
/*  text-align: center;*/
/*}*/

/*.navbar-item4 {*/

/*  !* width: 100%; *!*/
/*  float: left;*/
/*  flex-direction: row;*/
/*  flex-wrap: wrap;*/
/*  padding-top: 2vh;*/
/*  color: rgb(74, 121, 192);*/
/*  flex-grow: 1;*/
/*  !* border: solid black 1px; *!*/
/*  text-align: center;*/
/*}*/

/*.navbar-item1 img {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*.navbar-item1 p {*/
/*  display: inline;*/
/*  position: absolute;*/

/*}*/

/*.navbar-item2 p {*/
/*  display: inline;*/
/*  position: absolute;*/
/*  text-align: justify;*/
/*  !* border: solid rgb(74, 6, 6) 1px; *!*/
/*}*/

/*.navbar-item3 p {*/
/*  display: inline;*/
/*  position: absolute;*/
/*}*/

a {
  text-decoration: none;
  color: rgb(74, 121, 192);
}

.container {
  border-radius: 0.5vmax;
  background-color: #eac274;
  width: 70vw;
  height: 60vh;
  margin: auto;
  margin-top: 15vh;
}

fieldset {
  text-align: center;
  border-bottom: rgb(27, 58, 105) solid  0.4vmax;
  border-right: rgb(27, 58, 105) solid  0.4vmax;
  border-top: #e29c10 solid  0.4vmax;
  border-left: #e29c10 solid  0.4vmax;
  font-size: 1.5vmax;
  width: 80%;
  margin: auto;

}

legend {
  margin-left: -15vmax;
  height: 22vh;
  width: 20vw;
  display: flex;
  flex-direction: row;
  background-color: #eac274;
}

legend img {
  width: 9vw;
  height: 10vh;
  /* display: inline; */
  margin-top: 5vh;
}

legend p {
  width: fit-content;
  height: 3vh;
  text-align: center;
  margin-top: 9vh;
  font-size: 2vmax;
  color: rgb(74, 121, 192);
  font-weight: 500;
}

select {
  border-radius: 0.4vmax;
  width: 4vw;
  height: 3vh;
  text-align: left;
  border: 0px;
}

.form-content {
  width: 52.5%;
  text-align: right;
  font-weight: 600;
}

button {
  background-color: rgb(74, 121, 192);
  border-radius: 0.4vmax;
  width: 7vw;
  height: 6vh;
  border: 0.2vmax solid rgb(48, 89, 152);
  text-align: center;
  color: white;
  margin-bottom: 1vh;
}

button:hover {
  background-color: rgb(58, 111, 192);
}
