<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>HOME</title>
  <link rel="stylesheet" href="./home.component.css" />
</head>
<body>
<!--<div class="navbar">-->


<!--  <div class="navbar-content">-->
<!--    <div class="navbar-item1">-->
<!--      <img src="../assets/Pictures/upm-logo.png" alt="Attachment not found" />-->
<!--    </div>-->
<!--    <div class="navbar-item4">-->
<!--      U.P.M UFO Battle-->
<!--    </div>-->
<!--    <div class="navbar-item2">-->
<!--      <a href="home.html">Home</a> <a href="preferences.html">Preferences</a> <a href="play.html">Play</a> <a href="records.html">Records</a>-->
<!--    </div>-->

<!--    <div class="navbar-item3">-->
<!--      <a href="register.html">Register</a> <a href="login.html">Login</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="container">
  <div class="logo-container">
    <img
      class="logo"
      src="../assets/Pictures/logo-2.png"
      alt="Attachment not found"
    />
  </div>

  <div class="text-content">
    <h1>E.T.S.I. SISTEMAS INFORMATICOS</h1>
    <h2>Web development</h2>
    <div class="ufo-container">
      <div class="center-ufo">
        <h3>Practical exercise - UFO battle</h3>
        <img
          src="../assets/Pictures/UFO.png"
          alt="Attachement not found"
          class="ufo-logo"
        />
      </div>
    </div>
  </div>
</div>
</body>
</html>
