<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Records</title>
  <link rel="stylesheet" href="./records.component.css" />
</head>
<body>


<div class="container">
  <fieldset>
<!--    <legend>-->
<!--      <p>Records</p>-->
<!--    </legend>-->
    <app-scores> </app-scores>
    <br />
    <p id="user">
      CURRENT USER RECORDS
    </p>
    <br />
    <app-user-scores> </app-user-scores>
  </fieldset>
</div>
<!--<script src="../scripts/records.js"></script>-->
</body>
</html>


