td {
  width: fit-content;
}

#header {
  border-bottom: 0.15vmax solid rgb(135, 135, 135);
}

.row {
  border-bottom: 0.15vmax solid rgb(48, 89, 152);
}

.ranking {
  /* border: 1px solid black; */
  width: 40vw;
  height: 20vh;
  margin: auto;
}
